insightface_model/
myenvDone/
store/
attendance_system.db
server.crt
server.key
vision_agent_tools/
testtesttttttt/
vid/
__pycache__/
.vscode/
src/__pycache__/
**/__pycache__/

yolo11x.pt
yolo11n.pt
models/
